{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <thead>
        <th>Categorie</th>
        <th>Produits</th>
        </thead>
        <tbody>

                <td>{{ category.name }}</td>
                <td>{% for product in category.products %}
                        <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a> <br>
                        Prix : {{ product.price }} € <br>
                        Description : {{ product.description }} <br>
                {% endfor %}
                </td>

        </tbody>
    </table>
    <a href="{{ path('category_index') }}"><button type="button" class="btn btn-info mb-2 ">Revenir à la liste</button></a>

    {% for role in roles %}
        {% if role == 'ROLE_ADMIN' %}
            <a href="{{ path('category_edit', {'id': category.id}) }}"><button type="button" class="btn btn-warning mb-2 ">Mise à jour</button></a>
            {{ include('category/_delete_form.html.twig') }}
        {% endif %}
    {% endfor %}

{% endblock %}
